<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>
    <h2>Edit Student</h2>
    <form action="{% url 'update' record.id %}" method="POST">
        {% csrf_token %}
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ record.name }}" required><br><br>

        <label>Age:</label><br>
        <input type="number" name="age" value="{{ record.age }}" required><br><br>

        <label>Marks:</label><br>
        <input type="number" name="marks" value="{{ record.marks }}" required><br><br>

        <button type="submit">Update</button>
    </form>
    <br>
    <a href="{% url 'home' %}">← Back</a>
</body>
</html>
